.checkbox-button {
    position: relative;
    background-color: red;
    cursor: pointer;
  }
  .checkbox{
      display: none;
  }
  .checkbox-button-is-checked{
    background-color: red;

    border: 1px solid grey;
    border-radius: 10px;
    height: 40px;
  }
  .checkbox-button-is-unchecked{
    background-color: blue;
    border: 1px solid grey;
    border-radius: 10px;
    height: 40px;
  }

  .label{
      position: relative;
  }