.checkbox-button {
    position: relative;
    display: block;
    background-color: red;
    cursor: pointer;
    width: 60px;
    height: 34px;
  }
  .checkbox{
      display: none;
  }
  .checkbox-button-is-checked{
    background-color: red;
  }
  .checkbox-button-is-unchecked{
    background-color: blue;
  }
