.checkbox-button {
    position: relative;
    background-color: red;
    cursor: pointer;
  }
  .checkbox{
      display: none;
  }
  .checkbox-button-is-checked{
    background-color: rgb(0, 179, 255);
    text-align: center;

    border: 2px solid grey;
    border-radius: 25px;
    height: 40px;
  }
  .checkbox-button-is-unchecked{
    background-color: rgb(0, 50, 113);
    color: white;
    text-align: center;
    border: 2px solid grey;
    border-radius: 25px;
    height: 40px;
  }