.Tool-header{
    display: inline-block;
    display: grid;
    grid-template-areas:
        "data tissue reference"
        "gene gene gene"
        "foldChange foldChange displayAs"
        "qValue qValue displayAs"
        "sortBy sortBy sortBy"
        "buttons buttons buttons";
    border: 2px solid black;
    position: absolute;
    left: 200px;
    padding: 20px;
}

.Tool-data{
    grid-area: data;
}

.Tool-tissue{
    grid-area: tissue;
    padding-left: 100px;
}