.Header {
    text-align: center;
}

.Header-header{
    background-color: white;
    display: grid;
    grid-template-areas:
        "image image image"
        "john john link"
        "title title title";
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Header-logo{
    max-height: 150px;
    min-width: 300px;
    padding-right: 1100px;

    grid-area: image;
}

.Header-title{
    grid-area: title;
    font-size: 32pt
}

.Header-title-image{
    position: relative;
    width: 100%;
    border: 3px solid rgb(0, 50, 113);
    border-left: none;
    border-right: none;
}

.Header-title-text{
    position: absolute;
    top: 120px;
    left: 80px;
    width: 100%;
    color: rgb(0, 154, 216);
    text-shadow: 2px 2px 2px rgb(0, 50, 113);
}

.Header-link-line{
    grid-area: link;
}