.Main-tool-view{
    display: grid;
    grid-template-areas:
        "header header header"
        "temp tool temp"
        "temp tool temp"
        "temp tool temp";
}

.Main-header{
    grid-area: header;
}

.Main-tool{
    grid-area: tool;
}