.Tool-header{
    display: grid;
    grid-template-areas:
        "data tissue reference"
        "gene gene gene"
        "fold-change fold-change display-as"
        "q-value q-value display-as"
        "sort-by sort-by sort-by"
        "buttons buttons buttons";
    grid-template-columns: 1fr 1fr;
    padding-left: 250px;
    border: 2px solid rgb(0, 50, 113);
    width: 50%;
}

.Tool-data{
    grid-area: data
}